
body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #298A08;
}

.quem-somos {
    background: red;
    color: white;
 
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: #58afaf;
}

.bg-footer {
    background-color: black;
    color: white;
}